
header {
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* 確保模糊效果不會超出範圍 */
    text-align: center;
}
header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebe9b0;
    filter: blur(5px);
    z-index: -1; /* 將背景圖片放在文字後面 */
  }
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.links a{
    font-size: 15px;
    color: black;
    padding: 0 10px;
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
}
.links a:hover{
    color: skyblue;
}
.button{
    display: flex;
    gap: 14px;
}
.button a{
 width: 100%;
 border-radius: 50%;
 background-color: #fff;
 font-size: 18px;
 padding: 10px;
 color: #76d4e3;
 transition: all ease-in-out 0.3s;
}
.button a:hover{
    background-color: gainsboro;
}
nav{
    padding: 0 80px;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 30px rgba(133, 133, 138, 0.37);
    border: 1.5px solid rgba(255,255,255,0.18);
    padding: 25px 0;
}
nav ul li a{
    position: relative;
    font-weight: 600;
    color: white;
}
nav ul li a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: -10px;
    left: 0;
}
nav ul li a:hover::before {
    transform: scaleX(1); /* 在懸停時顯示線條 */
}
nav ul li a:active{
color: white;
}
#logo img{
    width: 48px;
    height: 48px;
}

#mobile-nav {
    display: none; /* 隱藏導航 */
}
.hamburger-toggle {
    position: absolute;
    width: 1.8rem;
    height: 1.3rem;
    top: 0.5rem;
    right: 1rem;
    display: none; /*預設不顯示*/
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; /*因為bar有長有短，所以靠左*/
    z-index: 11;
}
.hamburger-toggle span {
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}
.hamburger-toggle .bar-3 {
    width: 80%; /*裝逼造型*/
}

.navbar-links ul li{
    padding: 15px 0;
}
.hamburger-toggle span {
    transition: all 0.3s ease; /*要在原處加上這行，不然不會有過場*/
}

.toggle .bar-1 {
    transform: rotate(-45deg) translate(-4.2px, 7px); /*旋轉平移變成叉叉*/
}

.toggle .bar-2 {
    transform: rotateX(90deg); /*消失*/
}
.navbar-links{
    z-index: 10;
    background: rgba(0,0,0,1);
    display: none; /* 在漢堡被點擊前不顯示 */
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    transition: all  ease-out .3s; /* 設置過渡效果 */
}
.navbar-links.active {
    transition: all 0.5s ease-in-out; /*滑入過場*/
}
.toggle .bar-3 {
    transform: rotate(405deg) translate(-7.4px, -7px) scaleX(125%); /*也是旋轉平移變成叉叉，只是要伸到跟bar-1一樣長*/
}
.contact-info{
    padding-top: 10px;
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.contact-info:hover{
    cursor: pointer
}
.phone,.email{
    width: 50%;
}
.phone p,
.email p {
    display: none;
    color: #fff;
    font-weight: 600;
    width: 100%;
    padding-top: 5px;
    font-size: 15px;
}
.hamburger-toggle:checked ~ .navbar-links{
    transform: none;
}
.menu-list{
    position: absolute;
    top:10%;
    display: flex;
    flex-direction: column;
    font-family: serif;
    font-weight: 600;
    letter-spacing: .3rem;

}
.menu-item{
    position: relative;
}
.menuLINK{
    position: relative;
    display: inline-block;
    height: 48px;
    text-decoration: none;
    color: rgb(255,238,168);
}
.MUfooter {
    position: absolute;
    width: 100%;
    left: 20%;
    bottom: 10%;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    color: rgb(150, 150, 150);
    letter-spacing: .2rem;
    
}
.banner {
    position: absolute;
    width: 27%;
    right: 20%;
    bottom: 1%;
    opacity: 0;
    z-index: 99;
    animation: fadein 1s forwards;
    animation-delay: 1.5s;
}
@media screen and (max-width:767px){
    .menu-item{
        margin: 2% 0;
    }
    .MUfooter {
        width: 40%;
        left: 8%;
        bottom: 7%;
    }
    .banner {
        width: 40%;
        right: 6%;
        bottom: 4%;
    }
}

@media screen and (max-width: 600px) {
    #pc-menu{
        display: none;
    }
    #mobile-nav {
        display: none; /* 顯示導航 */
    
    }
    #mobile-nav ul{
        display: block;
    }

    .menu-toggle {
        display: block; /* 桌面版隱藏菜單按鈕 */
    }
    .hamburger-toggle {
        display: flex; /*顯示漢堡*/
    }
    .hamburger-toggle:hover {
        cursor: pointer; /*因為漢堡是div，游標盤旋在它上面不會變成手掌造型的pointer，所以要補上*/
    }
    .navbar-links {
        display: none; /*在漢堡被點前不顯示*/
    }
    nav {
        flex-direction: column; /*把標題跟連結改成直行排列*/
        align-items: flex-start;
       
    }
    .navbar-links {
        width: 100%; /*使連結與螢幕等寬*/
    }
    .navbar-links ul{
        flex-direction: column; /*讓連結各自直行排列*/
        width: 100%;
    }
    .navbar-links ul li{
        width: 100%;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links.active {
        display: flex; /*看到JS你就懂這行了XD*/
    }
}
